*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
}
header{
    width: 100%;
    height: 3rem;
}
header img{
    margin-left: 2rem;
    margin-top: 1.7rem;
}
main{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
}
.seccion-izquierda{
    width: 70%;
    box-sizing: border-box;
}
.areaTexto{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 1.2rem;
    margin-left: 6.87rem;
    resize: none;
    font-size: 32px;
    color: #0A3871;
    border: none;
    outline: none;
    background-color:#E5E5E5 ;
}
.advertencia{
    display: flex;
    margin-top: 1.25rem;
    margin-left: 6.87rem;
}
.logo-adv{
    padding-right: 0.3rem;
}
.parrafo-adv{
    font-size: 18px;
    color: #495057;
}
::placeholder{
    color: #0A3871;
}
.botonera{
    text-align: center;
    margin-top: 1.87rem;
}
.boton-encriptar, .boton-desencriptar{
    font-size: 18px;
    width: 20rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-left: 1rem;
}
.boton-encriptar, .boton-desencriptar{
    background-color: #D8DFE8;
    color:#0A3871;
    transition: 1s all;
    cursor: pointer;
}
.boton-encriptar:hover, .boton-desencriptar:hover {
    background:#0A3871;
    color: white;
    transform:scale(1);
}

.seccion-derecha{
    width: 30%;
    border-radius: 2rem;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}
.contenedor-munieco{
    margin-top: 2rem;
    text-align: center;
}
.img-munieco{
    width: 18rem;
    height: 19rem;
}
.contenedor-h1{
    width: 100%;
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
}
.contenedor-h3{
    width: 100%;
    text-align: center;
    color: #495057;
    font-size: 17px;
}
.contenedor-resultado{
    width: 100%;
    height: 70%;
    padding: 2rem;
    box-sizing: border-box;
}
.mensaje{
    color: #0A3871;
    font-size: 28px;
}
#textoResultado{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    color: #495057;
    font-size: 26px;
    resize: none;
}
.contenedor-copiar{
    width: 100%;
    height: 20%;
}
.boton-copiar{
    font-size: 18px;
    background-color: #D8DFE8;
    color:#0A3871;
    width: 18rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: block;
    margin: auto;
    transition: 1s all;
    cursor: pointer;
}
.boton-copiar:hover{
    background:#0A3871;
    color: white;
    transform:scale(1);
}

footer{
    width: 100%;
    height: 3rem;
    text-align: center;
}
.autor{
    padding-top: 1.2rem;
    color: #0A3871;
}
.redes{
    padding-top: 0.8rem;
    width: 18.5rem;
    height: 3.75rem;
    display: block;
    margin: auto;
}
.redes .fa-brands{
    margin: 0 10px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    background: #000;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.redes .icono1:hover{
    background: #3b5998;
}
.redes .icono2:hover{
    background: #C13584;
}
.redes .icono3:hover{
    background: #0A66C2;
}
.redes .icono4:hover{
    background: #FF0000;
}
.ocultar{
    display: none;
}

/* Adaptamos nuestro encriptador para celular */

@media screen and (max-width:480px){
    main {
        display: inline;
    }
    
    .seccion-izquierda{
        width: 100%;
    }
    .areaTexto{
        margin-left: auto;
        text-align: center;
        margin-top: 3rem;
        height: 50%;
    }
    .advertencia{
        display: block;
        text-align: center;
        margin-left: 0px;
    }
    .boton-encriptar, .boton-desencriptar {
        margin-bottom: 1rem;
    }
    .seccion-derecha{
        margin-top: 1rem;
        width: 80%;
        display: block;
        margin: auto;
        height: 50%;
    }
    .contenedor-munieco{
        display: none;
    }
}